

<h1 classe="text-center"> All restaurants</h1>

  <div class="container">
    <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs12 col-sm-4">
        <%= render "card", restaurant: restaurant %>
        <% end %>
      </div>
    </div>
  </div>







